<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job will push the release zip file to the github repository.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>value1</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/pkamagouda/Test_O2.git</url>
        <credentialsId>1ccb2e10-e0ee-473a-a4a8-2a7f00ff9a9a</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/Hello_Code</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <EnvInjectBuilder plugin="envinject@2.1.3">
      <info>
        <propertiesFilePath>osb1.property</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.Shell>
      <command>#mkdir -p Mange_Order
cp -r ../Hello_Build_and_Deploy/*.zip .
git add *
git commit -m &quot;committing zip file&quot;
echo version_name=${value1} &gt; osb1.property
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.git.GitPublisher plugin="git@3.9.1">
      <configVersion>2</configVersion>
      <pushMerge>false</pushMerge>
      <pushOnlyIfSuccess>true</pushOnlyIfSuccess>
      <forcePush>false</forcePush>
      <branchesToPush>
        <hudson.plugins.git.GitPublisher_-BranchToPush>
          <targetRepoName>origin</targetRepoName>
          <branchName>Hello_Code</branchName>
        </hudson.plugins.git.GitPublisher_-BranchToPush>
      </branchesToPush>
    </hudson.plugins.git.GitPublisher>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.63">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <recipientList>prapulita2294@gmail.com</recipientList>
            <subject>[Automated Release Notification] - 1 release(s) were deployed.</subject>
            <body>&lt;html&gt;

   &lt;head&gt;
      &lt;title&gt;Sending mail&lt;/title&gt;
   &lt;/head&gt;
	
   &lt;body&gt;
      &lt;table width=&quot;80%&quot; height=&quot;30&quot;&gt;
          &lt;tr bgcolor=&quot;DarkSlateBlue&quot;&gt;
          &lt;td&gt;
        &lt;font size=&quot;4&quot; color=&quot;white&quot;&gt;
Service Factory Release Manager for OSB - 1.0 &lt;/font&gt;
&lt;/td&gt;

&lt;/tr&gt;
&lt;/table&gt;
    &lt;tr&gt;
         &lt;b&gt; &lt;font size=&quot;5&quot; &gt;Service Factory Release Notification &lt;/font&gt;&lt;/b&gt;
    &lt;/tr&gt;
      &lt;table border=&quot;1&quot; cellpadding = &quot;5&quot; cellspacing = &quot;5&quot; &gt;
         &lt;tr bgcolor = &quot;WhiteSmoke&quot;&gt;
            &lt;th&gt;Service Name&lt;/th&gt;
            &lt;th&gt;Auto-generated Release Note Link in git hub&lt;/th&gt;
         &lt;/tr&gt;
         &lt;tr&gt;
            &lt;td&gt;Hello_Osb_1_0&lt;/td&gt;
            &lt;td&gt; &lt;a href=&quot;https://github.com/pkamagouda/Test_O2/blob/master/Hello/release-info.txt&quot;&gt;https://github.com/pkamagouda/Test_O2/blob/master/Hello/Hello_Osb_release_${version_name}&lt;/a&gt; &lt;/td&gt;
         &lt;/tr&gt;

     &lt;/table&gt;
   &lt;/body&gt;
   
&lt;/html&gt;</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>both</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList>prapulita2294@gmail.com</recipientList>
            <subject>[Automated Release Notification] - Deployment failed</subject>
            <body>Please refer the attached log to check the reason for ${JOB_NAME} job failure.
</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>true</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <from></from>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.36">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>